body {
    background: white;
    color: black;
    transition: 0.3s;
}

body.dark {
    background: #0f172a;
    color: white;
}
.card{
    width:400px;
    margin:80px auto;
    background:#1e293b;
    padding:30px;
    border-radius:12px;
}

input{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    margin-top:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
}

a{
    color:#60a5fa;
    display:block;
    margin-top:15px;
}

h2{
    margin-bottom:20px;
}
